@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --bg-color-1: #2D283E;
    --bg-color-2: #40495D;
    --color-1: #bf68f1;
    --color-2: #564F6F;
    --color-3: #D1D7E0;
    --color-4: #eee;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

body {
    position: relative;
    background-color: var(--bg-color-1);
}

a {
    text-decoration: none;
    color: var(--color-4);
}

a:hover {
    color: var(--color-1);
}

span {
    color: var(--color-1);
}

.home,
.about-page,
.projects,
.blogs,
.blog-post,
footer {
    color: var(--color-4);
}

/* HEADER */

@media (min-width: 751px) {
    .header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: end;
        padding: 1rem;
        padding-right: 3rem;
        list-style: none;
        font-size: 1.3rem;
        background: hsl(254 22% 20% / 0.95);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }

    .header li {
        margin: 0 2rem;
    }

    .header i {
        padding-right: 0.5rem;
    }

    .header .mobile-dropdown-menu {
        display: none;
    }
}

@media (max-width:750px) {
    .header {
        position: sticky;
        top: 0;
        font-size: 1.6rem;
        list-style: none;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }

    .header i {
        padding-right: 0.5rem;
    }

    .default-header {
        display: none;
    }

    .header .mobile-dropdown-menu {
        text-align: end;
        position: absolute;
        padding-bottom: 1rem;
        left: 0;
        width: 100%;
        padding: 1rem;
        background: hsl(254 22% 20% / 0.98);
    }

    .header .dropdown-menu {
        left: 0;
        width: 100%;
        text-align: center;
        list-style: none;
    }

    .header .dropdown-menu li {
        padding: 1rem 1.5rem;
    }
}

/* HOME */

@media (max-width: 750px) {
    .home-welcome-message {
        text-align: center;
        font-size: 2.4rem;
        line-height: 4rem;
        padding-top: 15vh;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 100vh;
    }
}
@media (min-width: 751px) {
    .home-welcome-message {
        text-align: center;
        font-size: 2.4rem;
        line-height: 4rem;
        padding-top: 15vh;
        height: 100vh;
    }
}

.home-introduction-wrapper,
.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
}

@media (max-width: 750px) {
    .home-introduction-wrapper,
    .about-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 1.5rem;
        padding-top: 5rem;
    }
}

.home-introduction,
.about {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

@media (max-width: 1044px) {
    .home-introduction,
    .about-wrapper {
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
    }
}

.home-introduction div,
.about .title {
    text-align: center;
}

.home-introduction .title,
.about-socials-wrapper .title,
.about .title {
    font-size: 2.25rem;
}

.home-introduction .quote,
.about-socials-wrapper {
    font-size: 1.25rem;
}

.home-introduction-image {
    height: 20rem;
    padding-right: 3rem;
}


@media (max-width: 1044px) {
    .home-introduction-image {
        display: none;
    }
}

.home-introduction .quote {
    color: var(--color-3);
}

/* ABOUT */

.about {
    list-style: circle;
}

@media (max-width: 1044px) {
    .about-wrapper {
        display: inline-block;
    }

    .about-image {
        padding-top: 3rem;
        height: 20rem;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1045px) {
    .about-image {
        height: 20rem;
        padding-left: 3rem;
    }
}   

.about-socials-wrapper {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    line-height: 3rem;
}

@media (max-width: 750px) {
    .about-socials-wrapper {
        text-align: center;
        padding: 3rem 1.5rem;
        padding-bottom: 5rem;
        line-height: 3rem;
    }
}

.about-socials {
    display: flex;
    justify-content: center;
}

.about-socials a {
    margin: 0 0.75rem;
}

/* PROJECTS */

.projects-title {
    text-align: center;
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 1046px) {
    .projects-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 5rem;
        padding-bottom: 3rem;
        border-radius: 16px;
    }

    .project {
        flex: 1 1 45%;
        max-width: 45%;
        padding: 2rem;
        font-size: 1.25rem;
        line-height: 2rem;
        margin: 1rem;
        margin-top: 0.5rem;

        border: 1px solid var(--color-1);
        box-shadow: 5px 5px 5px var(--color-1);
        border-radius: 16px;
    }
}

@media (max-width: 1045px) {
    .projects-wrapper {
        padding: 0 5rem;
        padding-bottom: 3rem;
        border-radius: 16px;
    }

    .project {
        padding: 2rem;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 2rem;

        border: 1px solid var(--color-1);
        box-shadow: 5px 5px 5px var(--color-1);
        border-radius: 16px;
    }
}

@media (max-width: 750px) {
    .projects-title {
        padding-top: 5rem;
    }

    .projects-wrapper {
        padding: 0 2rem;
        padding-bottom: 3rem;
        border-radius: 16px;
    }

    .project {
        padding: 2rem;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 2rem;

        border: 1px solid var(--color-1);
        box-shadow: 5px 5px 5px var(--color-1);
        border-radius: 16px;
    }
}

.project img {
    margin-bottom: 1rem;
    width: 100%;
    height: 350px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.project-links {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}

.project-links a {
    padding: 0.15rem 1rem;
    margin: 0 1rem;
    border: 1px solid var(--color-2);
    border-radius: 12px;
    background-color: var(--color-2);
}

.project-links a:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Blog */

.blogs-title {
    text-align: center;
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.blog-title {
    text-align: center;
    font-size: 1.75rem;
}

.blog .date {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    text-align: center;
}

@media (min-width: 751px) {
    .blog-wrapper {
        padding: 0 7rem;
        padding-bottom: 3rem;
        border-radius: 16px;
    }

    .blog {
        padding: 2rem 3rem;
        padding-bottom: 0;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 2rem;

        border: 1px solid var(--color-1);
        box-shadow: 5px 5px 5px var(--color-1);
        border-radius: 16px;
    }
}

@media (max-width: 750px) {
    .blogs-title {
        padding-top: 5rem;
    }

    .blog-wrapper {
        padding: 0 2rem;
        padding-bottom: 3rem;
        border-radius: 16px;
    }

    .blog {
        padding: 2rem;
        padding-bottom: 0;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 2rem;

        border: 1px solid var(--color-1);
        box-shadow: 5px 5px 5px var(--color-1);
        border-radius: 16px;
    }
}

.blog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.continue-reading-button {
    text-align: right;
}

/* Blog Post */

.blog-post {
    padding-top: 4rem; 
}

@media (max-width: 750px) {
    .blog-post {
        padding-top: 6rem;
    }

    .back-button {
        font-size: 1.5rem;
        margin: 0 2rem;
    }

    .blog-post-wrapper {
        padding: 2rem;
        font-size: 1.25rem;
        line-height: 2rem;
        margin: 0 2rem;
        margin-bottom: 3rem;
    
        border: 1px solid var(--color-1);
        box-shadow: 5px 5px 5px var(--color-1);
        border-radius: 16px;
    }
}

@media (min-width: 751px) {
    .back-button {
        font-size: 1.5rem;
        margin: 0 7rem;
    }
    
    .blog-post-wrapper {
        padding: 2rem 2.5rem;
        font-size: 1.25rem;
        line-height: 2rem;
        margin: 0 7rem;
        margin-bottom: 3rem;

        border: 1px solid var(--color-1);
        box-shadow: 5px 5px 5px var(--color-1);
        border-radius: 16px;
    }
}

.blog-post-wrapper .date {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.blog-post-wrapper .blog-post-title {
    text-align: center;
    font-size: 2.25rem;
    padding-top: 1rem;
}

.blog-post-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.blog-post-wrapper .source-material {
    font-size: 0.95rem;
    padding-bottom: 1.5rem;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    list-style: none;
    font-size: 1rem;
    background-color: #1a1726;
}

@media (max-width: 750px) {
    footer {
        padding: 1rem 1.5rem;
    }
}

.footer-socials {
    display: flex;
}

.footer-socials a {
    margin: 0 1rem;
    margin-right: 0;
}


@media (max-width: 480px) {
    .footer-socials {
        display: none;
    }
}